/* Base attribute customization */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-image: url('photos/crater_lake.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    word-wrap: break-word;
}

/* Keyframe animations */

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slidein {
    from {transform: translateX(-80%);}
    to {transform: translateX(0%);}
}

* {
    animation: 1s fadein, .5s slidein;
}




footer {
    font-family: 'Jura', sans-serif;
    margin-top: 4em;
    font-size: 25px;
}

/* Class and ID attribute customization */


#future-dev h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    letter-spacing: .5em;
    margin-block: 1.25em;
}

#future-dev {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-block: 4em;
}

#about h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    letter-spacing: .5em;
    margin-block: 1.25em;
}

#about {
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-block: 4em;
    padding: 50px;
}

#about img {
    border-radius: 10px;
    max-width: 400px; 
    max-height: 400px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

.nav a {
    /* font-family: 'Jura', sans-serif; */
    font-size: 40px;
    text-decoration: none;
    color: white;
}

#projects-title {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: .5em;
    font-size: 50px;
    text-align: center;
    margin-block: 2em;
}

#projects {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

#projects .card {
    background-color: rgb(43, 100, 225);
    color: white;
    border: 1px solid rgb(34, 33, 33);
    font-size: 25px;
    width: 24rem;
    transition: all .5s ease;
}

.card:hover {
    transform: scale(1.1);
}


#projects .card-title {
    font-size: 30px;
}

#tech h2 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-block: 1.5em;
}

#tech {
    font-family: 'Montserrat', sans-serif;
    margin-block: 5em;
}

#stack {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 175px;
}

#python-icon {
    font-size: 175px;
    transition: all 0.5s ease;
}

#python-icon:hover {
    transform: scale(1.1);
    color: rgb(242, 101, 0);
}

#js-icon {
    font-size: 175px;
    transition: all 0.5s ease;
}

#js-icon:hover {
    transform: scale(1.1);
    color: rgb(255, 230, 0);
}

#html-icon {
    font-size: 175px;
    transition: all 0.5s ease;
}

#html-icon:hover {
    transform: scale(1.1);
    color: rgb(255, 0, 0);
}

#css-icon {
    font-size: 175px;
    transition: all 0.5s ease;
}

#css-icon:hover {
    transform: scale(1.1);
    color: rgb(47, 116, 255);
}

#vue-icon {
    font-size: 175px;
    transition: all 0.5s ease;
}

#vue-icon:hover {
    transform: scale(1.1);
    color: rgb(0, 131, 22);
}

#bs-icon {
    font-size: 175px;
    transition: all 0.5s ease;
}

#bs-icon:hover {
    transform: scale(1.1);
    color: rgb(110, 49, 254);
}


/* Media queries */

@media (max-width: 767px) {
    #future-dev h1, #about h2, #projects-title {
        font-size: 20px;
    }
    #about img {
        max-width: 200px;
        max-height: 200px;
    }
    #future-dev, #about {
        font-size: 20px;
    }
    #projects .card {
        width: 15rem;
        font-size: 15px;
    }
    #projects .card .card-title {
        font-size: 20px;
    }

    #stack i {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: 125px;
    }
}